<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/hotelevago"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hotelevago_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROYECTO_IOT"
        tools:targetApi="31">
        <activity
            android:name=".cliente.chatV2.ListaChatClienteActivity"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.chat.ListaChatAdminActivity"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.InicioSesionActivitySuperAdmin"
            android:exported="false" />
        <activity
            android:name=".cliente.chat.ListaChatsActivity"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.ActivityPerfilSuperAdmin"
            android:exported="false" />
        <activity
            android:name=".cliente.InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.RegisterActivityCambiarContraCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.RegisterFotoPerfilClienteActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.RegisterActivityDniCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.RegisterActivityLocalidadCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.RegisterActivityNumeroCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.RegisterActivityNombresCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.EditarPerfilClienteActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.PerfilClienteActivity"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.RegisterActivityCambiarContraSA"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.RegisterFotoPerfilSAActivity"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.RegisterActivityLocalidadSA"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.RegisterActivityDNISA"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.RegisterActivityNumeroSA"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.RegisterActivityCorreoSA"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.RegisterActivityNombresSA"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.EditarPerfilSuperAdminActivity"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.RegistroActivitySuperAdmin"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.PerfilSuperAdminActivity"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.SeleccionUbicacionEditarActivity"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.MapaCompletoActivity"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.SeleccionUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cliente.InfoPersonal"
            android:exported="false" />
        <activity
            android:name=".cliente.SeguridadActivity2"
            android:exported="false" />
        <activity
            android:name=".cliente.pago.AgregarTarjetaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.pago.PasarellaDePago"
            android:exported="false" />
        <activity android:name=".cliente.MapaTaxiActivity" />
        <activity android:name=".cliente.MisReservasActivity" />
        <activity
            android:name=".taxista.qr.CustomCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.SolicitudTaxiActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.FormularioCheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.DetalleReservaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.modoTaxistaFormulario.RegistroTaxistaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.busqueda.ClienteBusquedaActivity"
            android:exported="false" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.RegistroPrimeraVez"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.RegistroServicioDesdeOpciones"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.RegistroServicioDesdeHabitacion"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.RegistroHabitacionHotel"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.RegistroInfoHotel"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".taxista.perfil.PerfilTaxistaActivity"
            android:exported="false" />
        <activity
            android:name=".taxista.perfil.SeguridadActivity"
            android:exported="false" />
        <activity
            android:name=".taxista.perfil.InformacionPersonalActivity"
            android:exported="false" />
        <activity
            android:name=".taxista.solicitudes.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".administradorHotel.PagPrincipalAdmin"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.PagPrincipalSuperAdmin"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>